//Pour que ça fonctionne avec calc, on utilise des variables commençant par -- plutôt que des variables commençant par $
:root {
    --characters-card-with: 540px;
    --characters-image-size: 250px;
    --characters-margin-right-cards: 30px;
    --charcters-width-for-star: 40px;

    //--charcter-top-bookmark:  --characters-image-size / 2 - --charcters-width-for-star / 2
    --characters-top-bookmark: 105px;
}

.characters-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: calc(
        var(--characters-card-with) * 2 + var(--characters-margin-right-cards) +
            4px
    );

    //margin-bottom pour que la barre de navigation ne soit pas collée au bas de la page.
    margin-bottom: 20px;

    //border: 1px solid red;
}

characters-main a {
    text-decoration: none;
}

.characters-main-one-column {
    width: calc(var(--characters-card-with) + 2px);
}
.characters-main-mobile {
    width: calc(100vw - 20px);

    //margin-bottom pour voir la barre de navigation.
    margin-bottom: 250px;

    //border: 1px solid red;
}

.characters-downloaded {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    // border: 1px solid green;
}
h1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

.characters-is-downloading {
    margin-bottom: 20px;
}

.character-search-input {
    width: 250px;
    margin-bottom: 20px;
    height: 30px;
}

.character-search-input-mobile {
    width: 90%;
    margin-bottom: 20px;
    height: 30px;
}

.characters-around-cards {
    display: flex;
    flex-wrap: wrap;
}

.characters-around-cards-mobile {
    display: flex;
    flex-direction: column;
    flex-wrap: inherit;
    //border: 1px solid blue;
}

.characters-card {
    width: var(--characters-card-with);
    height: var(--characters-image-size);
    display: flex;
    flex-direction: row;
    border: grey 1px solid;
    margin-bottom: 30px;
    background-color: white;
}

.characters-card-margin-right {
    margin-right: var(--characters-margin-right-cards);
    //background-color: pink;
}

.characters-card-mobile {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 20px);
    height: inherit;
    //background-color: green;
    //border: 1px solid purple;
}

.characters-around-image {
    width: var(--characters-image-size);
    height: var(--characters-image-size);
    position: relative;
    //border: 1px purple dotted;
}
.characters-around-image-mobile {
    width: 100vw;
    height: 100vw;
    position: relative;
    margin-bottom: 20px;
    //border: 1px purple dotted;
}

.characters-image {
    width: var(--characters-image-size);
    height: var(--characters-image-size);
    object-fit: cover;
    //border: 1px solid grey;
}

.characters-image-mobile {
    width: calc(100vw - 20px);
    height: 100%;
    object-fit: cover;
}

.characters-name-and-description {
    height: var(--characters-image-size);
    width: calc(var(--characters-card-with) - var(--characters-image-size));
    display: flex;
    flex-direction: column;
    //border: 1px solid green;
}
.characters-name-and-description-mobile {
    width: inherit;
    height: inherit;
    margin-bottom: 20px;
}

.characters-bookmark-image {
    position: absolute;
    top: var(--characters-top-bookmark);
    left: 260px;
    width: var(--charcters-width-for-star);
}
.characters-name {
    text-align: center;
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: calc(5px + var(--charcters-width-for-star));
    overflow: hidden;
    font-weight: 700;
}

.characters-name-mobile {
    margin-bottom: 0;
    margin-left: 0;
    overflow: inherit;
}

.characters-around-star-mobile {
    height: var(--charcters-width-for-star);
    //position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.characters-description {
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: calc(20px + var(--charcters-width-for-star));
    overflow: hidden;
    //background-color: peru;
}
