//Pour que ça fonctionne avec calc, on utilise des variables commençant par -- plutôt que des variables commençant par $
:root {
    --comics-card-with: 700px;
    --comics-image-width: 190px;
    --comics-image-height: 300px;
    --comics-margin-right-cards: 30px;
}

.comics-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    //width: 340px;
    width: calc(
        var(--comics-card-with) * 2 + var(--comics-margin-right-cards) + 4px
    );
    //width: 1030px;
    //border: 1px solid red;
}

.comics-main-one-column {
    width: calc(var(--comics-card-with) + 4px);
}
.comics-main-mobile {
    width: calc(100vw - 20px);
    //border: 1px solid red;
}

.comics-downloaded {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    // border: 1px solid green;
}
h1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

.comics-is-downloading-other-times {
    margin-bottom: 20px;
}

.comics-around-cards {
    display: flex;
    flex-wrap: wrap;
}

.comics-around-cards-mobile {
    display: flex;
    flex-direction: column;
    flex-wrap: inherit;
    //border: 1px solid blue;
}

.comics-card {
    width: var(--comics-card-with);
    height: var(--comics-image-height);
    display: flex;
    flex-direction: row;
    border: grey 1px solid;
    margin-bottom: 30px;
    background-color: white;
}

.comics-card-margin-right {
    margin-right: var(--comics-margin-right-cards);
    //background-color: pink;
}

.comics-card-mobile {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 20px);
    height: inherit;
    //background-color: green;
    //border: 1px solid purple;
}

.comics-around-image {
    width: var(--comics-image-width);
    height: var(--comics-image-height);
    //border: 1px purple dotted;
}
.comics-around-image-mobile {
    width: 100vw;
    //height: 100vw;
    height: inherit;
    margin-bottom: 20px;
    //border: 1px purple dotted;
}

.comics-image {
    width: var(--comics-image-width);
    height: var(--comics-image-height);
    object-fit: cover;
}

.comics-image-mobile {
    width: calc(100vw - 20px);
    height: 100%;
    object-fit: cover;
}

.comics-title-and-description {
    height: var(--comics-image-height);
    width: calc(var(--comics-card-with) - var(--comics-image-width));
    display: flex;
    flex-direction: column;
}
.comics-title-and-description-mobile {
    width: inherit;
    height: inherit;
    margin-bottom: 20px;
}

.comics-title {
    text-align: center;
    margin: 20px 5px 10px 5px;
    overflow: hidden;
    font-weight: 700;
}

.comics-description {
    margin: 0 10px 0 20px;
    overflow: hidden;
}
